@font-face {
    font-family: 'Redacted';
    src: url('https://static.cdn.epam.com/uploads/690afa39a93c88c4dd13758fe1d869d5/EPM-UUI/fonts/redacted/redacted-regular.eot');
    src:
        url('https://static.cdn.epam.com/uploads/690afa39a93c88c4dd13758fe1d869d5/EPM-UUI/fonts/redacted/redacted-regular.woff2')
            format('woff2'),
        url('https://static.cdn.epam.com/uploads/690afa39a93c88c4dd13758fe1d869d5/EPM-UUI/fonts/redacted/redacted-regular.woff')
            format('woff'),
        url('https://static.cdn.epam.com/uploads/690afa39a93c88c4dd13758fe1d869d5/EPM-UUI/fonts/redacted/redacted-regular.otf')
            format('opentype'),
        url('https://static.cdn.epam.com/uploads/690afa39a93c88c4dd13758fe1d869d5/EPM-UUI/fonts/redacted/redacted-regular.svg#filename')
            format('svg');
    font-display: block;
}

body {
    margin: 0;
    background: var(--uui-app-bg);
}

.uui-popper {
    .uui-dropdown-body {
        --uui-font: 'Inter';
    }
}


.container {
    padding-left: 24px;
    padding-right: 24px;
    margin: 0 auto;
}

@media (min-width: 768px) {
    .container {
        max-width: 700px;
    }
}

@media (min-width: 1280px) {
    .container {
        max-width: 1060px;
    }
}

@media (min-width: 1920px) {
    .container {
        max-width: 1420px;
    }
}

.uui-input-box.uui-invalid {
    border-color: var(--uui-error-50);
}

